## average revisit time

In [ ]:
alg_and_versions = [
    ('tmsos', 'baseline_277', 'TMS-OS'),
    ('swot_karin_poseidon', '2324-insitu-aevinsitu', 'SWOT'),
    ('icesat2', '2324-insitu-aevinsitu', 'ICESat-2\n(insitu E-S)'),
]

categories = [element[-1] for element in alg_and_versions]
print(categories)

dfs = []

data = {
    'alg': [],
    'length_of_obs': [],
    'number_of_obs': [],
    'start_date': [],
    'end_date': []
}

for alg_name, alg_version, display_name in alg_and_versions:
    print(alg_name, alg_version)
    storage_dir_fn = DATA_DIR / f"storage/{alg_name}/{alg_version}"

    for fn in list(storage_dir_fn.glob("*.csv")):
        df = pd.read_csv(fn, parse_dates=['date'])
        df = df[df['date'] >= '2023-07-27']  # clip to the period after the first available swot data
        length_of_obs = (df['date'].iloc[-1] - df['date'].iloc[0]).days
        length_of_obs = 1 if length_of_obs == 0 else length_of_obs
        number_of_obs = df.shape[0]

        data['alg'].append(alg_name)
        data['length_of_obs'].append(length_of_obs)
        data['number_of_obs'].append(number_of_obs)
        data['start_date'].append(df['date'].iloc[0])
        data['end_date'].append(df['date'].iloc[-1])

df = pd.DataFrame(data)
df.head()

['TMS-OS', 'SWOT', 'ICESat-2\n(insitu E-S)']
tmsos baseline_277
swot_karin_poseidon 2324-insitu-aevinsitu
icesat2 2324-insitu-aevinsitu

     alg  length_of_obs  number_of_obs start_date   end_date
0  tmsos            395            114 2023-07-30 2024-08-28
1  tmsos            491            148 2023-07-30 2024-12-02
2  tmsos            396            120 2023-07-30 2024-08-29
3  tmsos            499            147 2023-07-30 2024-12-10
4  tmsos            486            145 2023-07-30 2024-11-27

In [ ]:
df['revist_time'] = df['length_of_obs'] / df['number_of_obs']
df.head()

     alg  length_of_obs  number_of_obs start_date   end_date  revist_time
0  tmsos            395            114 2023-07-30 2024-08-28     3.464912
1  tmsos            491            148 2023-07-30 2024-12-02     3.317568
2  tmsos            396            120 2023-07-30 2024-08-29     3.300000
3  tmsos            499            147 2023-07-30 2024-12-10     3.394558
4  tmsos            486            145 2023-07-30 2024-11-27     3.351724

In [ ]:
counts = df.groupby('alg').median()
counts

,length_of_obs,number_of_obs,start_date,end_date,revist_time
alg,,,,,
icesat2,363.0,5.0,2023-09-13,2024-09-09,59.000000
swot_karin_poseidon,314.0,30.0,2023-11-28,2024-10-07,10.466667
tmsos,490.0,148.0,2023-07-30,2024-11-29,3.319328